[Desktop Entry]
Type=Application
Name=NitroSense Controller
Comment=Control power and fan profiles on Acer Nitro laptops
Exec=nitrosense-gui
Icon=nitrosense-gui
Terminal=false
Categories=System;Settings;
StartupNotify=true
StartupWMClass=com.adriz.nitrosense
Keywords=fan;power;nitro;thermal;profile;
